%div{ class: "row main_container" }
  = render 'layouts/left_nav'
  = render 'students/student_menu'
  %div{ class: 'small-9 columns curriculums_container' }
    %h1= "#{@student.name}'s Curriculums"

    = render partial: "curriculums_by_subject", collection: @curriculums_by_subject, as: :subject
    = render 'form'
