.row.main_container
  = render 'layouts/left_nav'
  .small-9.columns.index_container
    %h3 Add New Student
    = form_for(@student) do |f|
      .name_input
        = f.label :name
        = f.text_field :name

      .actions
        = f.submit "Add Student"
