%div{ class: "row main_container" }
  = render 'layouts/left_nav'
  = render 'student_menu'
  %div{ class: 'small-10 columns show_container' }
    %h3= "#{@student.name}'s Page"

    -# %div= render 'reviews/form'
    -#
    -# - if !@reviews.nil?
    -#   %ul
    -#     - @reviews.each do |review|
    -#       -if !review.title.empty?
    -#         %li= review.title
    -#         %li= review.body
    -#         %li= "written by: #{review.user.username}"
