= form_tag("/curriculums/#{@curriculum.id}/schedules", method: 'POST' ) do
  .curriculum-form-start-date
    = "Enter Start Date"
    = text_field :schedule, :start_date, placeholder: "DD/MM/YY"

  .curriculum-form-pace
    = "How many units/'division units' do you plan to do each day?"
    = collection_select(:schedule, :pace_id, Pace.all, :id, :pace, { prompt: true })

  .recurrence-form-days
    = collection_check_boxes(:recurrence, :day_id, Occurrence.all, :id, :day)

  %div= submit_tag 'Set Schedule'
