= form_for(@resource) do |f|
  .resource-form-title
    = f.label :title
    = f.text_field :title, placeholder: "Title"

  %div{ class: "resource-form-unit inline" }
    %div= "Enter the total units (letter or number) and select the unit type"
    = f.label :units, class: "hidden"
    = f.text_field :units, class: "resource_unit inline"

  %div{ class: "resorce-form-unit-type inline" }
    = f.label :unit_type, class: "hidden"
    = f.collection_select(:unit_type_id, UnitType.all, :id, :name, { prompt: true }, { class: "inline" } )

  %div{ class: "resource-form-division-unit inline" }
    %div= "If each unit is broken down into smaller sections, enter that here."
    %div= "Enter the total division units (letter or number) and select the division unit type"
    = f.label :division_units, class: "hidden"
    = f.text_field :division_units, class: "resource_unit inline"

  %div{ class: "resorce-form-division-unit-type inline" }
    = f.label :division_type, class: "hidden"
    = f.collection_select(:division_type_id, DivisionType.all, :id, :name, { prompt: true }, { class: "inline" } )

  .form-actions
    = f.submit "Add Resource"
