%div{ class: "row main_container" }
  = render 'layouts/left_nav'
  #resource_show_conatiner{ class: 'small-9 columns' }
    %h2= "#{@resource.title}"
    .resource_type= "#{@resource.units} #{@resource.unit_type.name}"
